
.highlight {
  color: var(--color-blue);
  font-weight: 600;
}

.introContainer {
  max-width: 65ch;
  line-height: 1.6;
  margin: 5rem;
}

@keyframes slideUp {
  0% {
    transform: translateX(60px);
    opacity: 0;

  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.h1Anim {
  animation: slideUp 0.5s ease-out forwards;
}

.introContainer h2 {
  opacity: 0;
  margin: 0;
  animation: slideUp 0.5s ease-out 0.6s forwards;
}

.introContainer p {
  opacity: 0;
  animation: slideUp 0.5s ease-out 0.6s forwards;
}

.introButtons {
  opacity: 0;
  animation: slideUp 0.5s ease-out 1s forwards;
}

