
.highlight {
  color: var(--color-blue);
  font-weight: 600;
}

.headingContainer {
  max-width: 65ch;
  line-height: 1.6;
  flex: 1;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 4rem;
}

@keyframes slideUp {
  0% {
    transform: translateX(60px);
    opacity: 0;

  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.h1Anim {
  animation: slideUp 0.5s ease-out forwards;
}

.introContainer h2 {
  opacity: 0;
  margin: 0;
  animation: slideUp 0.5s ease-out 0.6s forwards;
}

.introContainer p {
  opacity: 0;
  animation: slideUp 0.5s ease-out 0.6s forwards;
}

.introButtons {
  opacity: 0;
  animation: slideUp 0.5s ease-out 1s forwards;
}

.imgContainer {
  flex: 1;              /* Takes up proportional space (1 part) */
  display: flex;        /* Enables centering of the img tag */
  justify-content: center;
  align-items: center;
}

.image {
  width: 80%;          /* Fills the imgContainer */
  max-width: 400px;     /* Optional: Stops it from getting too massive on huge screens */
  height: auto;         /* Maintains aspect ratio */
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
  
  .introButtons {
    justify-content: center;
  }
}