
.highlight {
  color: var(--color-blue);
  font-weight: 600;
}

.headingContainer {
  max-width: 65ch;
  line-height: 1.6;
  margin: 5rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@keyframes slideUp {
  0% {
    transform: translateX(60px);
    opacity: 0;

  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.h1Anim {
  animation: slideUp 0.5s ease-out forwards;
}

.introContainer h2 {
  opacity: 0;
  margin: 0;
  animation: slideUp 0.5s ease-out 0.6s forwards;
}

.introContainer p {
  opacity: 0;
  animation: slideUp 0.5s ease-out 0.6s forwards;
}

.introButtons {
  opacity: 0;
  animation: slideUp 0.5s ease-out 1s forwards;
}

.imgContainer {
  justify-items: center;
}

.image {
  max-width: 50%;       /* Fill the width of .imageContainer */
  object-fit: cover; /* Ensures image isn't squished; it crops if needed */
  border-radius: 12px; /* Optional: adds rounded corners */
  display: block;    /* Removes default bottom spacing on images */

}
