.sectionContainer {
  padding: var(--padding-base);
  /* background: linear-gradient(160deg, var(--color-blue) 0%, var(--color-green) 100%); */
  /* background-color: var(--color-blue);  */
  /* THE MAGIC TRICK: Creates the diagonal cut */
  /* Starts at top-left, goes to top-right, down to right-side (80%), back to bottom-left */
  /* clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%); */
  /* clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%); */
  /* min-height: 60vh; */
}

.section {
  padding: var(--padding-base);
}

h1 {
  color: var(--color-gray);
  margin: var(--margin-base) 0;
}

h2 {
  color: var(--color-blue);
  margin: 0;
}

button:focus {
  outline: none !important;
}

button:focus-visible {
  outline: 2px solid var(--color-blue) !important; /* Your purple brand color */
  outline-offset: 2px;
}

p {
  font-size: var(--font-med);
}

.highlight {
  color: var(--color-blue);
  font-weight: 600;
}

.roundedTag {
  background-color: var(--color-blue); 
  color: white;              /* Text color */
  padding: var(--padding-tiny) var(--padding-small);         /* Space around the text (Top/Bottom, Left/Right) */
  border-radius: 0.5rem;       /* How round the corners are */
  display: inline-block;     /* Makes the box "hug" the text width */
  font-weight: 600;
}