button {
    margin: var(--margin-base);
    /* padding: var(--padding-condensed) var(--padding-normal); */
    font: inherit;       /* Important: inherit font styles from parent */
    cursor: pointer;     /* Restore the "hand" cursor */
    outline: inherit;    /* Keeps focus ring for accessibility */
    padding: var(--padding-small) var(--padding-base);
    transition: all 0.3s ease;
}

.buttonDefault {
  display: inline-block;

  margin: var(--margin-base);
  background-color: var(--color-blue);
  color: white;

  font: inherit;
  text-decoration: none;
  border: none;
  outline: inherit;
  cursor: pointer;

  padding: var(--padding-small) var(--padding-base);
  border-radius: var(--border-radius);

  transition: transform 0.1s ease, filter 0.2s ease, background-color 0.3s ease;
}

.buttonBorder {
    background-color: transparent;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
}

.buttonDefault:hover {
  filter: brightness(90%);
  transform: scale(1.05); 
}

.buttonDefault:active {
  transform: scale(0.95); 
  filter: brightness(80%); 
}